<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>One million arab coders</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}"/>
</head>
<body>
    <div id="container">
        <nav id="menu">
            <h1 id="logo"> Arab Coders Forums </h1>
            <div class="menu-all"><ul>
                <li class="menu-item"><a href="index"> Home </a></li>
                <li class="menu-item"><a href="#"> Members </a></li>
                <li class="menu-item"><a href="#"> Categories </a></li>
                <li class="menu-item"><a href="#"> Tutorials </a></li>
                <li class="menu-item"><a href="#"> Contact </a></li>
            </ul></div>
        </nav>
    </div>
    <form action= "{{ url_for('topic_add') }}" method="post">
        <h2> Create A New Post</h2>
        <p><input type="text" name="title" placeholder="Title" /></p>
        <p><textarea name="content" placeholder="Content"></textarea></p>
        <p><input class="cta" type="submit" value="Create Post"/></p>
    </form>
</body>

</html>
